:root {
  scroll-behavior: smooth;
  --main-bg: #000201;
  --button-bg: #272928;
  --footer-bg: #101010;
  --white: #ffffff;
  --black: #000000;
  --button-bg-active: #ff3d00;
  --button-bg-hover-active: #ff521b;
  --button-arrow-bg-hover: #343434;
}

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter/inter-400.woff2), format("woff2");
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Inter/inter-600.woff2), format("woff2");
  font-weight: 600;
  font-display: swap;
}

html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  min-height: 100dvh;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: var(--black);
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--main-bg);
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}